name: RFmodel_Fitness_CI

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniconda-version: "latest"
          activate-environment: fitness-env
          environment-file: ./MLProject/conda.yaml
          auto-activate-base: false

      - name: Run MLflow Project
        shell: bash
        env:
          MLFLOW_TRACKING_URI: file:${{ github.workspace }}/MLProject/mlruns
        run: |
          cd MLProject
          source $(conda info --base)/etc/profile.d/conda.sh
          conda activate fitness-env
          mlflow run . -e main -P data_path=data_fitness_processed.csv --experiment-name FitnessExperiment

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: fitness-artifacts
          path: MLProject/mlruns

